:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-gray-blue: hsl(210, 10%, 33%);
    --gray-blue: hsl(201, 11%, 66%);
}

/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                BASIC STYLING                               */
/* -------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--dark-gray-blue);
    overflow: auto;
    font-size: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    color: var(--gray-blue);
    line-height: 1.52;
}

/* -------------------------------------------------------------------------- */
/*                                    UTILS                                   */
/* -------------------------------------------------------------------------- */
.container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.green {
    background-color: var(--strong-cyan);
    /* box-shadow: -px 3px var(--strong-cyan), -2px 2px var(--strong-cyan), -1px 1px var(--strong-cyan); */
    box-shadow: 2px 4px 10px 0px rgba(15, 165, 140, 0.692);

}

.blue {
    background-color: var(--light-blue);
    box-shadow: 2px 4px 10px 0px rgba(40, 122, 189, 0.692);

}

.description {
    text-align: center;
    margin-top: 40px;
}

.description p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.download-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
    color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    text-align: center;
    /* border: 1px solid orange; */
}

.btn:hover {
    opacity: 0.8;
}

.illustration {
    margin-top: 50px;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    background-image: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-bottom: 60px;
}
header .logo img {
    width: 35%;
    margin: auto;
    padding-top: 120px;
}

/* -------------------------------------------------------------------------- */
/*                              SNIPPETS SECTION                              */
/* -------------------------------------------------------------------------- */
.snippets {
    margin-bottom: 170px;
}

.snippets .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.snippets .details .detail-content {
    margin-top: 50px;
}

.snippets .details .detail-content p {
    margin-top: 10px;
    line-height: 1.5;
}

.snippets .details .detail-content div {
    margin-bottom: 50px;
}

/* -------------------------------------------------------------------------- */
/*                                  CLIPBOARD                                 */
/* -------------------------------------------------------------------------- */
.clipboard {
    margin-bottom: 100px;
}

/* -------------------------------------------------------------------------- */
/*                                  WORKFLOW                                  */
/* -------------------------------------------------------------------------- */
.workflow {
    margin-bottom: 100px;
}

.workflow .steps {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    gap: 50px;
}

.workflow .steps img {
    width: 12%;
    margin: 30px auto;
}

.workflow .steps h3 {
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  SPONSORS                                  */
/* -------------------------------------------------------------------------- */
.sponsors {
    margin-bottom: 120px;
}

.sponsors-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.sponsors-grid img {
    margin: 40px auto;
    width: 35%;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    margin-top: 100px;
    background-color: #f4f4f4;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content img {
    width: 35%;
    margin: 40px auto;
}

.footer-content .links {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
}

.footer-content .links a {
    color: var(--dark-gray-blue);
}

.footer-content .links li {
    margin-bottom: 30px;
}

.footer-content .socials {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer-content a:hover {
    opacity: 0.8;
}

.footer-content .socials img {
    width: 100%;
}



